<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>QuantumStack</string>
	<key>Builder Version</key>
	<string>14606.2.104.1.1</string>
	<key>CFBundleDisplayName</key>
	<string>CMUnits</string>
	<key>CFBundleIdentifier</key>
	<string>com.quantumstack.cmunits</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>fce-change.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Shows CMU FCE hours in SIO (port of CMUnits for Chrome)</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>s3.andrew.cmu.edu</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
